p {
    margin: 6px;
    padding: 6px;
    border-radius: 4px solid black;
    width: 200px;
    height: 70px;
    background-color: orange;
}

.my-grid > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px;
    border-radius: 4px solid black;
    margin: 6px;
    width: 50px;
} 

.flexbox-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}


.has-blue-background {
    background-color: #A7DDFF;
    border: 1px solid #721EE3
}

.has-yellow-bacground {
    background-color: #d4d048;
    border: 1px solid #cfa46b
}

